@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero">
    <div>
        <h2>Descubrí la belleza natural de nuestro cantón</h2>
        <p>
            Explorá montañas, ríos, gastronomía local y experiencias únicas
            que conectan con la naturaleza.
        </p>
    </div>
</section>

<section>
    <h2>Destinos Destacados</h2>

    <div class="cards">
        <div class="card">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/29/41/bc/20170429-114200-largejpg.jpg?w=1200&h=1200&s=1">
            <div class="card-content">
                <h3>Catarata Río Fortuna</h3>
                <p>Un paraíso natural rodeado de bosque, ideal para caminatas y descanso.</p>
            </div>
        </div>

        <div class="card">
            <img src="https://sancarlosdigital.com/wp-content/uploads/2021/01/mano-arenal.jpg">
            <div class="card-content">
                <h3>Mirador Natural</h3>
                <p>Vista panorámica perfecta para fotografía y atardeceres inolvidables.</p>
            </div>
        </div>

        <div class="card">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/ef/ef/99/jalapas-costa-rica-restaurante.jpg">
            <div class="card-content">
                <h3>Ruta Gastronómica</h3>
                <p>Sabores típicos preparados por emprendedores locales.</p>
            </div>
        </div>
    </div>
</section>

<section class="eventos">
    <h2>Próximos Eventos</h2>

    <div class="evento">
        <h4>🌿 Feria Ecoturística</h4>
        <p>15 de agosto – Parque Central</p>
    </div>

    <div class="evento">
        <h4>🎶 Festival Cultural</h4>
        <p>22 de septiembre – Anfiteatro Municipal</p>
    </div>
</section>


